#ima1 {margin-left: 25%;
}
#ima1 {width: 45%;
}
#ima1{border-color: yellow;
     border-style: double;
    border-width: 12px;}

   .parte01 {background-color: yellow;
}
.parte02 {background-color: chartreuse;